@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Parkinsons Research Supporters!</h1>
    <br />
    <p>Join us for our annual charity luncheon to raise funds for Parkinson's research. Enjoy a delicious meal, connect with fellow supporters, and contribute to a great cause. Together, we can make a difference!</p>
    <p>As we gather amidst the tranquil surroundings of our event venue, we embrace the spirit of unity and resilience that defines our community. Through shared experiences, heartfelt connections, and unwavering determination, we strive to ignite hope and inspire positive change in the fight against Parkinson's. Together, we honor the courage of those facing this challenging journey and celebrate the strength of the human spirit that shines brightly in the face of adversity.</p>
    <p>Join us as we embark on this meaningful journey, one step at a time, towards a future where Parkinson's disease no longer casts its shadow over the lives of millions.</p>
    <button class="btn btn-primary"><a href="Home/Register">Register Now</a></button>
</div>
<div>
    <h2>Parkinsons Facts:</h2>
    <p>"Handwriting and loss of smell are early signs of Parkinsons"</p>
    <p>"There is no known cause of Parkinsons"</p>
    <p>"Parkinsons is a progressive disease"</p>
    <p>"Parkinsons affects 1 in 500 people"</p>
    <p>Parkinsons can cuase anxiety and depression</p>
</div>
