@model RegistrationViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register for Parkinson's Charity Luncheon</h1>


<form asp-action="Register" asp-controller="Home" method="post">
    <!-- Div containing input box for name with tag helpers-->
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <!-- Div containing input box for email with tag helpers-->
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <!-- Div containing input box for phone number with tag helpers-->
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <!-- Div containing input box for address with tag helpers-->
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <br />

    <!--Submit button to submit registration form-->
    <button type="submit" class="btn btn-primary">Register</button>
</form>
